.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #000132;
  }
  
  .poster img {
    /* max-width: 100%; */
    width: 35rem;
    height: auto;
    margin: 3rem;
  }
  
  .register-container {
    color: white;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    background-color: #000132;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form {
    background-color: #000132;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem;
    background-color: #000132;
  }
  
  .head {
    color: white;
    text-align: center;
  }
  
  .form-group {
    width: 80%;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  input,
  select {
    background-color: #000132;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reg-button {
    width: 80%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reg-button:hover {
    background-color: #ffffff;
  }
  
  .pyro-field-location {
    margin-top: 20px;
    width: 100%;
  }
  
  iframe {
    width: 100%;
    height: 300px;
    border: none;
  }

  /* Responsive */
  @media only screen and (max-width: 600px) {
    .form-group {
      width: 100%;
    }
    
    button {
      width: 100%;
    }
    .main-container{
        flex-direction: column;
    }
    label {
        font-size: 1.5rem;
      }
      
  }