.core_members-container {
    max-width: 1300px;
    margin: 10rem auto;
    padding: 20px;
  }
  
 .core_members-container h2 {
    text-align: center;
    color: #333;
  }
  
  .core_members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  }
  
  .core_member-item {
    text-align: center;
    margin: 20px;
  }
  
  .core_members-img {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    border-radius: 10%;
  }
  

@media screen and (max-width: 600px) {
    .core_members-container {
      padding: 10px;
    }
  
    .core_members-list {
      justify-content: center;
    }
  
    .core_member-item {
      width: 100%;
      max-width: 200px;
    }
    .core_members-img{
      width: 30rem;
      height: 20rem;
    }
  }


 

